<a href="https://colab.research.google.com/github/mvharsh/Deep-Learning/blob/main/ANN/ANN_Tips_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ANN Regression - Dataset from seaborn**

In [ ]:
# Importing libraries

import seaborn as sns
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
# Load the tips dataset
tips = sns.load_dataset("tips")

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# Convert categorical variables to numerical using one-hot encoding
df = pd.get_dummies(tips, columns=['sex', 'smoker', 'day', 'time'])

In [ ]:
df.head()

,total_bill,tip,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,2,0,1,0,1,0,0,0,1,0,1
1,10.34,1.66,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3.50,3,1,0,0,1,0,0,0,1,0,1
3,23.68,3.31,2,1,0,0,1,0,0,0,1,0,1
4,24.59,3.61,4,0,1,0,1,0,0,0,1,0,1

In [ ]:
# Separating dataset into X and y
y = df["tip"]
X = df.drop(["tip"],axis=1)

In [ ]:
# This line splits the data into training and testing sets with a test size of 20%

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=64)

In [ ]:
# Standardizing the features in X_train by subtracting the mean and dividing by the standard deviation

data = (X_train - X_train.mean())/X_train.std()
y.head()

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64

In [ ]:
X_train

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
7,26.88,4,1,0,0,1,0,0,0,1,0,1
73,25.28,2,0,1,1,0,0,0,1,0,0,1
165,24.52,3,1,0,0,1,0,0,0,1,0,1
56,38.01,4,1,0,1,0,0,0,1,0,0,1
115,17.31,2,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
54,25.56,4,1,0,0,1,0,0,0,1,0,1
166,20.76,2,1,0,0,1,0,0,0,1,0,1
119,24.08,4,0,1,0,1,1,0,0,0,1,0
230,24.01,4,1,0,1,0,0,0,1,0,0,1
196,10.34,2,1,0,1,0,1,0,0,0,1,0

In [ ]:
# Building the ANN Model

# Initializes a sequential model, which is a linear stack of layers.
model = Sequential()

# Adds a fully connected layer with 16 neurons and linear activation function.
model.add(Dense(16, activation="linear"))

#  Adds another fully connected layer with 1 neuron (output layer).
model.add(Dense(1))

# Compiles the model, specifying Mean Squared Error (MSE) as the loss function and Adam optimizer for training.
model.compile(loss="mse", optimizer="adam")

In [ ]:
# This line fits the neural network model to the training data (X_train, y_train) using a validation split of 20%, for 60 epochs, with verbose output enabled.

model.fit(X_train,y_train, validation_split=0.2, epochs = 60, verbose = 1)

Epoch 1/60
5/5 [==============================] - 0s 58ms/step - loss: 1.4448 - val_loss: 1.0068
Epoch 2/60
5/5 [==============================] - 0s 23ms/step - loss: 1.4384 - val_loss: 1.0031
Epoch 3/60
5/5 [==============================] - 0s 21ms/step - loss: 1.4338 - val_loss: 0.9988
Epoch 4/60
5/5 [==============================] - 0s 23ms/step - loss: 1.4280 - val_loss: 0.9960
Epoch 5/60
5/5 [==============================] - 0s 21ms/step - loss: 1.4218 - val_loss: 0.9928
Epoch 6/60
5/5 [==============================] - 0s 21ms/step - loss: 1.4159 - val_loss: 0.9898
Epoch 7/60
5/5 [==============================] - 0s 21ms/step - loss: 1.4111 - val_loss: 0.9866
Epoch 8/60
5/5 [==============================] - 0s 23ms/step - loss: 1.4052 - val_loss: 0.9832
Epoch 9/60
5/5 [==============================] - 0s 22ms/step - loss: 1.4003 - val_loss: 0.9802
Epoch 10/60
5/5 [==============================] - 0s 21ms/step - loss: 1.3950 - val_loss: 0.9779
Epoch 11/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3894 - val_loss: 0.9755
Epoch 12/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3871 - val_loss: 0.9747
Epoch 13/60
5/5 [==============================] - 0s 22ms/step - loss: 1.3791 - val_loss: 0.9711
Epoch 14/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3747 - val_loss: 0.9676
Epoch 15/60
5/5 [==============================] - 0s 20ms/step - loss: 1.3699 - val_loss: 0.9640
Epoch 16/60
5/5 [==============================] - 0s 26ms/step - loss: 1.3664 - val_loss: 0.9626
Epoch 17/60
5/5 [==============================] - 0s 27ms/step - loss: 1.3592 - val_loss: 0.9586
Epoch 18/60
5/5 [==============================] - 0s 26ms/step - loss: 1.3593 - val_loss: 0.9530
Epoch 19/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3502 - val_loss: 0.9507
Epoch 20/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3452 - val_loss: 0.9489
Epoch 21/60
5/5 [==============================] - 0s 26ms/step - loss: 1.3408 - val_loss: 0.9475
Epoch 22/60
5/5 [==============================] - 0s 25ms/step - loss: 1.3362 - val_loss: 0.9452
Epoch 23/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3332 - val_loss: 0.9441
Epoch 24/60
5/5 [==============================] - 0s 22ms/step - loss: 1.3303 - val_loss: 0.9435
Epoch 25/60
5/5 [==============================] - 0s 21ms/step - loss: 1.3230 - val_loss: 0.9383
Epoch 26/60
5/5 [==============================] - 0s 21ms/step - loss: 1.3185 - val_loss: 0.9345
Epoch 27/60
5/5 [==============================] - 0s 26ms/step - loss: 1.3146 - val_loss: 0.9317
Epoch 28/60
5/5 [==============================] - 0s 26ms/step - loss: 1.3127 - val_loss: 0.9271
Epoch 29/60
5/5 [==============================] - 0s 24ms/step - loss: 1.3066 - val_loss: 0.9258
Epoch 30/60
5/5 [==============================] - 0s 23ms/step - loss: 1.3030 - val_loss: 0.9236
Epoch 31/60
5/5 [==============================] - 0s 21ms/step - loss: 1.2992 - val_loss: 0.9242
Epoch 32/60
5/5 [==============================] - 0s 20ms/step - loss: 1.2944 - val_loss: 0.9234
Epoch 33/60
5/5 [==============================] - 0s 21ms/step - loss: 1.2910 - val_loss: 0.9214
Epoch 34/60
5/5 [==============================] - 0s 20ms/step - loss: 1.2873 - val_loss: 0.9181
Epoch 35/60
5/5 [==============================] - 0s 20ms/step - loss: 1.2829 - val_loss: 0.9167
Epoch 36/60
5/5 [==============================] - 0s 24ms/step - loss: 1.2799 - val_loss: 0.9138
Epoch 37/60
5/5 [==============================] - 0s 29ms/step - loss: 1.2787 - val_loss: 0.9107
Epoch 38/60
5/5 [==============================] - 0s 26ms/step - loss: 1.2719 - val_loss: 0.9111
Epoch 39/60
5/5 [==============================] - 0s 25ms/step - loss: 1.2694 - val_loss: 0.9103
Epoch 40/60
5/5 [==============================] - 0s 20ms/step - loss: 1.2654 - val_loss: 0.9082
Epoch 41/60
5/5 [==============================] - 0s 25ms/step - loss: 1.2622 - val_loss: 0.9084
Epoch 42/60
5/5 [==============================] - 0s 20ms/step - loss: 1.2598 - val_loss: 0.9082
Epoch 43/60
5/5 [==============================] - 0s 24ms/step - loss: 1.2555 - val_loss: 0.9051
Epoch 44/60
5/5 [==============================] - 0s 25ms/step - loss: 1.2522 - val_loss: 0.9015
Epoch 45/60
5/5 [==============================] - 0s 28ms/step - loss: 1.2499 - val_loss: 0.8971
Epoch 46/60
5/5 [==============================] - 0s 24ms/step - loss: 1.2457 - val_loss: 0.8959
Epoch 47/60
5/5 [==============================] - 0s 24ms/step - loss: 1.2428 - val_loss: 0.8940
Epoch 48/60
5/5 [==============================] - 0s 24ms/step - loss: 1.2412 - val_loss: 0.8945
Epoch 49/60
5/5 [==============================] - 0s 22ms/step - loss: 1.2360 - val_loss: 0.8936
Epoch 50/60
5/5 [==============================] - 0s 25ms/step - loss: 1.2343 - val_loss: 0.8929
Epoch 51/60
5/5 [==============================] - 0s 28ms/step - loss: 1.2310 - val_loss: 0.8902
Epoch 52/60
5/5 [==============================] - 0s 27ms/step - loss: 1.2277 - val_loss: 0.8887
Epoch 53/60
5/5 [==============================] - 0s 22ms/step - loss: 1.2248 - val_loss: 0.8885
Epoch 54/60
5/5 [==============================] - 0s 23ms/step - loss: 1.2219 - val_loss: 0.8870
Epoch 55/60
5/5 [==============================] - 0s 21ms/step - loss: 1.2207 - val_loss: 0.8874
Epoch 56/60
5/5 [==============================] - 0s 22ms/step - loss: 1.2193 - val_loss: 0.8881
Epoch 57/60
5/5 [==============================] - 0s 23ms/step - loss: 1.2142 - val_loss: 0.8843
Epoch 58/60
5/5 [==============================] - 0s 25ms/step - loss: 1.2118 - val_loss: 0.8815
Epoch 59/60
5/5 [==============================] - 0s 26ms/step - loss: 1.2093 - val_loss: 0.8804
Epoch 60/60
5/5 [==============================] - 0s 21ms/step - loss: 1.2088 - val_loss: 0.8772

In [ ]:
# This line evaluates the trained model on the input data X and target variable y, returning the loss value and any other specified metrics.


model.evaluate(X,y)

8/8 [==============================] - 0s 4ms/step - loss: 1.2607

1.2607414722442627

In [ ]:
X_test

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
81,16.66,2,1,0,0,1,1,0,0,0,1,0
14,14.83,2,0,1,0,1,0,0,0,1,0,1
23,39.42,4,1,0,0,1,0,0,1,0,0,1
189,23.10,3,1,0,1,0,0,0,0,1,0,1
72,26.86,2,0,1,1,0,0,0,1,0,0,1
233,10.77,2,1,0,0,1,0,0,1,0,0,1
193,15.48,2,1,0,1,0,1,0,0,0,1,0
241,22.67,2,1,0,1,0,0,0,1,0,0,1
210,30.06,3,1,0,1,0,0,0,1,0,0,1
199,13.51,2,1,0,1,0,1,0,0,0,1,0
57,26.41,2,0,1,0,1,0,0,1,0,0,1
161,12.66,2,1,0,0,1,0,0,0,1,0,1
203,16.40,2,0,1,1,0,1,0,0,0,1,0
174,16.82,2,1,0,1,0,0,0,0,1,0,1
35,24.06,3,1,0,0,1,0,0,1,0,0,1
146,18.64,3,0,1,0,1,1,0,0,0,1,0
53,9.94,2,1,0,0,1,0,0,0,1,0,1
150,14.07,2,1,0,0,1,0,0,0,1,0,1
106,20.49,2,1,0,1,0,0,0,1,0,0,1
68,20.23,2,1,0,0,1,0,0,1,0,0,1
141,34.30,6,1,0,0,1,1,0,0,0,1,0
127,14.52,2,0,1,0,1,1,0,0,0,1,0
55,19.49,2,1,0,0,1,0,0,0,1,0,1
149,7.51,2,1,0,0,1,1,0,0,0,1,0
78,22.76,2,1,0,0,1,1,0,0,0,1,0
61,13.81,2,1,0,1,0,0,0,1,0,0,1
17,16.29,3,1,0,0,1,0,0,0,1,0,1
238,35.83,3,0,1,0,1,0,0,1,0,0,1
236,12.60,2,1,0,1,0,0,0,1,0,0,1
79,17.29,2,1,0,0,1,1,0,0,0,1,0
33,20.69,4,0,1,0,1,0,0,1,0,0,1
121,13.42,2,0,1,0,1,1,0,0,0,1,0
13,18.43,4,1,0,0,1,0,0,0,1,0,1
178,9.60,2,0,1,1,0,0,0,0,1,0,1
231,15.69,3,1,0,1,0,0,0,1,0,0,1
188,18.15,3,0,1,1,0,0,0,0,1,0,1
86,13.03,2,1,0,0,1,1,0,0,0,1,0
89,21.16,2,1,0,0,1,1,0,0,0,1,0
100,11.35,2,0,1,1,0,0,1,0,0,0,1
179,34.63,2,1,0,1,0,0,0,0,1,0,1
228,13.28,2,1,0,0,1,0,0,1,0,0,1
184,40.55,2,1,0,1,0,0,0,0,1,0,1
186,20.90,3,0,1,1,0,0,0,0,1,0,1
65,20.08,3,1,0,0,1,0,0,1,0,0,1
145,8.35,2,0,1,0,1,1,0,0,0,1,0
42,13.94,2,1,0,0,1,0,0,0,1,0,1
109,14.31,2,0,1,1,0,0,0,1,0,0,1
41,17.46,2,1,0,0,1,0,0,0,1,0,1
216,28.15,5,1,0,1,0,0,0,1,0,0,1

In [ ]:
# This line standardizes the features in the test data X_test by subtracting the mean and dividing by the standard deviation.

test = (X_test - X_test.mean())/X_test.std()

In [ ]:
test

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
81,-0.321247,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
14,-0.552976,-0.540473,-1.490103,1.490103,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
23,2.560803,1.762410,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
189,0.494236,0.610969,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
72,0.970357,-0.540473,-1.490103,1.490103,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
233,-1.067085,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
193,-0.470668,-0.540473,0.657399,-0.657399,1.191809,-1.191809,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
241,0.439786,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
210,1.375566,0.610969,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
199,-0.720125,-0.540473,0.657399,-0.657399,1.191809,-1.191809,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
57,0.913375,-0.540473,-1.490103,1.490103,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
161,-0.827759,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
203,-0.354170,-0.540473,-1.490103,1.490103,1.191809,-1.191809,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
174,-0.300987,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
35,0.615799,0.610969,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
146,-0.070524,0.610969,-1.490103,1.490103,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
53,-1.172186,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
150,-0.649213,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
106,0.163738,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
68,0.130814,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
141,1.912468,4.065293,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
127,-0.592231,-0.540473,-1.490103,1.490103,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
55,0.037110,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
149,-1.479892,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
78,0.451183,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
61,-0.682137,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
17,-0.368099,0.610969,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
238,2.106209,0.610969,-1.490103,1.490103,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
236,-0.835356,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
79,-0.241472,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
33,0.189063,1.762410,-1.490103,1.490103,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
121,-0.731521,-0.540473,-1.490103,1.490103,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
13,-0.097116,1.762410,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
178,-1.215240,-0.540473,-1.490103,1.490103,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
231,-0.444076,0.610969,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
188,-0.132572,0.610969,-1.490103,1.490103,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
86,-0.780906,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
89,0.248578,-0.540473,0.657399,-0.657399,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
100,-0.993641,-0.540473,-1.490103,1.490103,1.191809,-1.191809,-0.625969,6.857143,-0.754185,-0.689169,-0.625969,0.625969
179,1.954256,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
228,-0.749249,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
184,2.703892,-0.540473,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
186,0.215655,0.610969,-1.490103,1.490103,1.191809,-1.191809,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
65,0.111820,0.610969,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
145,-1.373525,-0.540473,-1.490103,1.490103,-0.821937,0.821937,1.564922,-0.142857,-0.754185,-0.689169,1.564922,-1.564922
42,-0.665675,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
109,-0.618823,-0.540473,-1.490103,1.490103,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969
41,-0.219945,-0.540473,0.657399,-0.657399,-0.821937,0.821937,-0.625969,-0.142857,-0.754185,1.421411,-0.625969,0.625969
216,1.133707,2.913852,0.657399,-0.657399,1.191809,-1.191809,-0.625969,-0.142857,1.298874,-0.689169,-0.625969,0.625969

In [ ]:
# This line converts the standardized test data test into a NumPy array and ensures its data type is float32.

test = np.asarray(test).astype(np.float32)

In [ ]:
# This line predicts the target variable using the trained neural network model on the test data X_test.

model.predict(X_test)

2/2 [==============================] - 0s 7ms/step

array([[2.7977424],
       [1.861952 ],
       [5.1716375],
       [3.5085158],
       [3.3486233],
       [2.2727947],
       [2.9574614],
       [3.4387407],
       [4.354663 ],
       [2.805913 ],
       [3.0635095],
       [2.1074648],
       [2.615788 ],
       [2.6779838],
       [3.6425953],
       [2.8850331],
       [1.8982188],
       [2.2159343],
       [3.2710361],
       [3.0005388],
       [5.544442 ],
       [2.2206674],
       [2.6328878],
       [2.0938454],
       [3.2670064],
       [2.757153 ],
       [2.7341356],
       [4.135596 ],
       [2.6640692],
       [2.8462076],
       [3.318318 ],
       [2.1360455],
       [3.2461824],
       [1.7101116],
       [3.2491984],
       [2.7152705],
       [2.5184908],
       [3.143921 ],
       [2.138289 ],
       [4.0480814],
       [2.4658852],
       [4.503498 ],
       [2.926825 ],
       [3.336419 ],
       [1.7460175],
       [2.2059336],
       [2.3831701],
       [2.4767218],
       [4.9025683]], dtype=float32)

In [ ]:
# evaluates the trained model on the test data, returning the loss value and any other specified metrics.

model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 22ms/step - loss: 1.0250

1.0249667167663574

In [ ]:
# This line retrieves the current weights of the neural network model and stores them in the variable a.

a = model.get_weights()
a

[array([[ 0.06216539,  0.06787323, -0.0833946 , -0.09938592,  0.02456206,
         -0.15034942,  0.32572055, -0.33704266, -0.3937924 ,  0.19271483,
          0.21408138, -0.1708853 , -0.2627127 ,  0.24009784, -0.20098752,
         -0.10868858],
        [ 0.30470473, -0.25239548, -0.1687658 ,  0.21352826,  0.04669785,
          0.37352923,  0.48668548, -0.04824017,  0.12533417, -0.13854823,
          0.09371065,  0.2656707 , -0.4962878 , -0.37076536,  0.49432763,
         -0.5186321 ],
        [ 0.36809352,  0.15869308, -0.30518225, -0.32374686, -0.4161396 ,
          0.24317831,  0.37188795,  0.45316577, -0.22578967,  0.3108926 ,
         -0.12567493, -0.04310768,  0.11559032,  0.18081848,  0.1293435 ,
         -0.21133715],
        [-0.19009262,  0.21894825, -0.18746898,  0.26402825,  0.05361208,
         -0.60295427, -0.20545854,  0.40697613, -0.34045434,  0.69764644,
          0.3489434 , -0.2149137 , -0.63263   , -0.05718436,  0.3151738 ,
         -0.28054878],
        [ 0.34130263,  0.12123892, -0.03263197,  0.4773591 ,  0.4230328 ,
         -0.24236973, -0.52585953,  0.22750852, -0.02809766, -0.11492506,
          0.24933572,  0.19444583,  0.31115887,  0.15067627,  0.1277351 ,
          0.18017429],
        [-0.33110404, -0.1630779 ,  0.13780434,  0.05690671, -0.01959582,
          0.21306902,  0.37565306, -0.32185516,  0.13815425, -0.16350004,
          0.11932436,  0.4451371 , -0.5602141 ,  0.27624747,  0.03432728,
         -0.54861814],
        [ 0.02574265, -0.16891132, -0.29606083,  0.16329557, -0.44767562,
          0.15886931,  0.48881435, -0.08586955,  0.16016968,  0.04773018,
          0.07595138,  0.24538146, -0.4839499 , -0.15499656, -0.1832811 ,
         -0.17404743],
        [-0.0287014 ,  0.30764496,  0.20207603, -0.14533143,  0.23781356,
          0.09175377,  0.1204319 , -0.02546523,  0.10599882, -0.02291307,
          0.17973562, -0.32178792,  0.41419247, -0.24959756,  0.32129616,
         -0.11346775],
        [ 0.40563464,  0.10881526,  0.11989622,  0.32226065,  0.07364774,
         -0.2936345 ,  0.00098309, -0.17161612,  0.02608383,  0.33203205,
         -0.4508141 , -0.31944686,  0.4834578 ,  0.3497223 , -0.2620254 ,
         -0.24186192],
        [-0.2854102 , -0.28898352,  0.3150562 ,  0.3041342 , -0.2372869 ,
          0.19358137,  0.03222955, -0.35507357,  0.23372386,  0.3073659 ,
          0.13541624,  0.14479631,  0.10413546, -0.37925556,  0.3621305 ,
         -0.14576802],
        [ 0.41939342, -0.11361919, -0.09678532, -0.2808363 , -0.11028533,
          0.3931651 , -0.13772514, -0.38310617, -0.20007652, -0.394614  ,
          0.23821995, -0.3507104 ,  0.2770604 ,  0.26376435,  0.4557021 ,
         -0.17193207],
        [-0.32299805,  0.39223397, -0.37905514,  0.28861606,  0.01174741,
         -0.34390524, -0.10395673, -0.25108963,  0.14879325,  0.50006694,
          0.04806911,  0.09217568,  0.01698301, -0.31852838,  0.3394125 ,
          0.05978407]], dtype=float32),
 array([ 0.05813035,  0.05552287, -0.0580728 , -0.05528632, -0.05157425,
        -0.06063067,  0.07521659,  0.05448714, -0.05745506,  0.06083489,
        -0.05525538,  0.05531822, -0.07254173, -0.05523314,  0.05450517,
        -0.0734731 ], dtype=float32),
 array([[ 0.47530296],
        [ 0.23083253],
        [-0.40429568],
        [-0.40307873],
        [-0.07141981],
        [-0.19792841],
        [ 0.07599033],
        [ 0.2008137 ],
        [-0.52384984],
        [ 0.0747956 ],
        [-0.36898512],
        [ 0.40923443],
        [-0.08730256],
        [-0.3756597 ],
        [ 0.20570588],
        [-0.08916283]], dtype=float32),
 array([0.05640042], dtype=float32)]

In [ ]:
# model is already trained

# Select a single row from X_test
single_input = X_test.iloc[0].values.reshape(1, -1)

# Predict for the single input
single_prediction = model.predict(single_input)

# Display the predicted value
print("Predicted value for single input:", single_prediction[0][0])

1/1 [==============================] - 0s 141ms/step
Predicted value for single input: 2.7977414

In [ ]:
# Evaluate the model
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print evaluation metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2 score):", r2)

2/2 [==============================] - 0s 12ms/step
Mean Absolute Error (MAE): 0.7932659951034856
Mean Squared Error (MSE): 1.0249667063509722
Root Mean Squared Error (RMSE): 1.0124063938710444
R-squared (R2 score): 0.30527715968246627